<div id="Map_ShaheWatershedDiv">
</div>

<style>
  #Map_ShaheWatershedDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
</style>

<script>
  layui.use(['arcgis', 'subbasin'], function() {
    var {Map, GeoJSONLayer, MapView, SceneView, BasemapToggle, BasemapGallery, Search, PointSymbol3D} = layui.arcgis;
    var {subbasin} = layui.subbasin;

    subbasin("Map_ShaheWatershedDiv", Map, GeoJSONLayer, MapView, SceneView, BasemapToggle, BasemapGallery, Search, PointSymbol3D)
  })
</script>
