<title>站点信息</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>数据库</cite></a>
    <a><cite>站点信息</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div
      class="layui-form layui-card-header layuiadmin-card-header-auto"
      lay-filter="app-content-list"
    >
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">站点ID</label>
          <div class="layui-input-inline">
            <input
              type="text"
              name="code"
              placeholder="请输入"
              autocomplete="off"
              class="layui-input"
            />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">站点名</label>
          <div class="layui-input-inline">
            <input
              type="text"
              name="name"
              placeholder="请输入"
              autocomplete="off"
              class="layui-input"
            />
          </div>
        </div>
        <div class="layui-inline" id="area-picker">
          <div class="layui-form-label">站点地址</div>
          <div class="layui-input-inline" style="width: 200px;">
            <select
              name="province"
              class="province-selector"
              data-value="安徽省"
              lay-filter="province-1"
            >
              <option value="">请选择省</option>
            </select>
          </div>
          <div class="layui-input-inline" style="width: 200px;">
            <select
              name="city"
              class="city-selector"
              data-value="合肥市"
              lay-filter="city-1"
            >
              <option value="">请选择市</option>
            </select>
          </div>
        </div>
        <div class="layui-inline">
          <button
            class="layui-btn layuiadmin-btn-menu"
            lay-submit
            lay-filter="LAY-app-maplist-search"
          >
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="layui-card-body">
      <script
        type="text/html"
        template
        lay-done="layui.sessionData.activeListener(d)"
      >
        {{#
          var permission = layui.sessionData(layui.setter.tableName)[layui.setter.request.permission];
        }}

        <div style="padding-bottom: 10px;">
          <button
            class="layui-btn layuiadmin-btn-menu {{permission.indexOf('menu:add') == -1 ? 'layui-btn-disabled' : '' }}"
            data-type="add">添加</button>
          <button
            class="layui-btn layuiadmin-btn-menu {{permission.indexOf('menu:delete') == -1 ? 'layui-btn-disabled' : '' }}"
            data-type="batchdel">删除</button>

        </div>
      </script>

      <table
        id="LAY-app-content-list"
        lay-filter="LAY-app-content-list"
      ></table>

      <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
          <button class="layui-btn layui-btn-sm" lay-event="table_export">导出</button>
        </div>
      </script>

      <script type="text/html" id="table-content-list">
        {{#
          var permission = layui.sessionData(layui.setter.tableName)[layui.setter.request.permission];
        }}
        <a class="layui-btn layui-btn-normal layui-btn-xs {{permission.indexOf('menu:edit') == -1 ? 'layui-btn-disabled' : '' }}"
          lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs {{permission.indexOf('menu:delete') == -1 ? 'layui-btn-disabled' : '' }}"
          lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
      </script>
    </div>
  </div>
</div>

<script>
  layui.sessionData.activeListener = (d) => {
    // window.location.reload();
  };
  layui
    .use("maplist", layui.factory("maplist"))
    .use(["admin", "maplist", "table", "layarea"], function () {
      var $ = layui.$,
        admin = layui.admin,
        view = layui.view,
        table = layui.table,
        form = layui.form,
        layarea = layui.layarea;

      console.log("123");
      layarea.render({
        elem: "#area-picker",
        data: {
          province: "广东省",
          city: "深圳市",
          county: "龙岗区",
        },
        change: function (res) {
          //选择结果
          console.log(res);
        },
      });

      form.render(null, "app-content-list");

      //监听搜索
      form.on("submit(LAY-app-maplist-search)", function (data) {
        var field = data.field;
        console.log(field);
        //执行重载
        admin.req({
          type: "GET",
          url: "http://36.7.72.89:8102/mapData",
          success: function (res) {
            console.log(res);
          },
        });
        table.reload("LAY-app-content-list", {
          where: field,
        });
      });

      var active = {
        batchdel: function () {
          var checkStatus = table.checkStatus("LAY-app-content-list"),
            checkData = checkStatus.data; //得到选中的数据

          if (checkData.length === 0) {
            return layer.msg("请选择数据");
          }
          console.log(checkData);
          layer.confirm("确定删除吗？", function (index) {
            //执行 Ajax 后重载
            /*
                admin.req({
                  url: 'xxx'
                  //,……
                });
                */
            admin.req({
              type: "DELETE",
              contentType: "application/json; charset=utf-8",
              url: "http://36.7.72.89:8102/menu/",
              data: JSON.stringify(checkData),
              success: function (res) {
                console.log(res);
                table.reload("LAY-app-content-list");
                layer.msg("已删除");
              },
            });

            table.reload("LAY-app-content-list");
            layer.msg("已删除");
          });
        },

        //添加
        add: function (obj) {
          admin.popup({
            title: "添加菜单",
            area: ["550px", "550px"],
            id: "LAY-popup-content-add",
            success: function (layero, index) {
              view(this.id)
                .render("app/content/menuform")
                .done(function () {
                  form.render(null, "layuiadmin-app-form-list");

                  //监听提交
                  form.on("submit(layuiadmin-app-form-submit)", function (
                    data
                  ) {
                    console.log("点击了添加");
                    var field = data.field; //获取提交的字段
                    // console.log(field);
                    //提交 Ajax 成功后，关闭当前弹层并重载表格
                    //$.ajax({});
                    console.log(field);
                    var mr = [];
                    var data = {};
                    Object.keys(field).forEach((i) => {
                      if (i.indexOf("menus") != -1) {
                        const id = parseInt(i.split("-")[2]);
                        mr.push(id);
                      } else {
                        data[i] = field[i];
                      }
                    });
                    data.menus = mr;
                    console.log(data);
                    admin.req({
                      type: "POST",
                      url: "http://36.7.72.89:8102/menu",
                      data: data,
                      success: function (res) {
                        console.log(res);
                        table.reload("LAY-app-content-list"); //重载表格
                        layer.close(index); //执行关闭
                      },
                    });
                  });
                });
            },
          });
        },
      };

      $(".layui-btn.layuiadmin-btn-menu").on("click", function () {
        let res = this.getAttribute("class").split(" ");
        if (res.indexOf("layui-btn-disabled") !== -1) return;
        var type = $(this).data("type");
        active[type] ? active[type].call(this) : "";
      });
    });
  //   };
</script>
