<div class="layui-header">
  <div class="layui-logo">layui 后台布局</div>
  <!-- 头部区域（可配合layui已有的水平导航） -->
  <ul class="layui-nav layui-layout-left">
    <li class="layui-nav-item"><a href="">控制台</a></li>
    <li class="layui-nav-item"><a href="">商品管理</a></li>
    <li class="layui-nav-item"><a href="">用户</a></li>
    <li class="layui-nav-item">
      <a href="javascript:;">其它系统</a>
      <dl class="layui-nav-child">
        <dd><a href="">邮件管理</a></dd>
        <dd><a href="">消息管理</a></dd>
        <dd><a href="">授权管理</a></dd>
      </dl>
    </li>
  </ul>
  <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
    <li class="layui-nav-item">
      <script
        type="text/html"
        template
        lay-url="http://36.7.72.89:8102/profile"
        lay-done="layui.sessionData.user(d)"
      >
        <a href="javascript:;">
          <cite>{{ d.username }}</cite>
        </a>
        <dl class="layui-nav-child">
          <dd><a lay-href="set/user/info">基本资料</a></dd>
          <dd><a lay-href="set/user/password">修改密码</a></dd>
          <hr>
          <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
        </dl>
      </script>
    </li>
    <li class="layui-nav-item" layadmin-event="logout"><a href="">退出</a></li>
  </ul>
</div>

<!-- <div class="layui-header">

  <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
    <li class="layui-nav-item" lay-unselect>
      <a href="javascript:;"></a>
      <dl class="layui-nav-child layui-anim-fadein">
        <dd layadmin-event="closeThisTabs">
          <a href="javascript:;">关闭当前标签页</a>
        </dd>
        <dd layadmin-event="closeOtherTabs">
          <a href="javascript:;">关闭其它标签页</a>
        </dd>
        <dd layadmin-event="closeAllTabs">
          <a href="javascript:;">关闭全部标签页</a>
        </dd>
      </dl>
    </li>
  </ul> 

  <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
    <li class="layui-nav-item" lay-unselect>
      <script
        type="text/html"
        template
        lay-url="http://36.7.72.89:8102/profile"
        lay-done="layui.sessionData.user(d)"
      >
        <a href="javascript:;">
          <cite>{{ d.username }}</cite>
        </a>
        <dl class="layui-nav-child">
          <dd><a lay-href="set/user/info">基本资料</a></dd>
          <dd><a lay-href="set/user/password">修改密码</a></dd>
          <hr>
          <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
        </dl>
      </script>

      <script>
        layui.sessionData.user = d => {
          layui.element.render('nav', 'layadmin-layout-right')
        }
      </script>
    </li>
  </ul>
</div> -->
